{% extends "bootstrap/base.html" %}
{% block styles %}
{{super()}}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}
{% block title %}Coffee & Wifi{% endblock %}
{% block content %}
<div class="jumbotron text-center">
	<div class="container">
		<h1>☕ Coffee & Wifi 💻</h1>
		<p class="lead">Want to work in a cafe but need power and wifi?</p>
        <hr>
        <p>You've found the right place! Check out my collection of cafes with data on power socket availability, wifi speed, and coffee quality.</p>

		<a href="{{ url_for('cafes') }}"><button class="btn btn-warning btn-lg">Show me!</button></a>
	</div>
</div>
{% endblock %}